* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(12deg, #bcbbd2, #cce6ef, #e7c8e0);
}
.wrap {
    width: 50%;
    margin: auto;
    background: transparent;
    margin-top: 50px;
    padding: 5px;
    border-radius: 5px;
}

form {
    padding: 2%;
    border: 1px dotted white;
    width: 100%;
    border-radius: 15px;
}

form div {
    margin-bottom: 2%;
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.input-padding {
    padding: 1%;
}

h2 {
    text-align: center;
    color: blue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3%;
    font-size: 2.5rem;
}

.input-style {
    border: none;
    outline: none;
    border-radius: 4px;
}

.margin-bt {
    margin-bottom: 5%;
}

.margin-bt-2 {
    margin-bottom: 3%;
}

.button-container {
    text-align: center;
    margin-top: 3%;
}

.terms {
    text-decoration: none;
    color: black;
}

.sign-up-btn {
    padding: 2% 7%;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border-radius: 25px;
    background: blue;
    border: none;
}

.file {
    border: none;
    outline: none;
}


/* ============ modal css ================= */

.text-green {
    color: green;
}

.login-modal {
    min-width: 30%;
    font-size: 1rem;
    position: absolute;
    top: -1000px;
    right: 35%;
    background-color: white;
    box-shadow: 1px 1px 1px;
    border-radius: 7px;
    transition: all .5s;
    border: none;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid rgb(4, 4, 41);
    color: rgb(4, 4, 41);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    font-size: 2rem;
    right: 20px;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.ok-btn {
    border: 1px solid;
    color: black;
    margin-top: 5%;
    text-decoration: none;
    padding: 5px;
    border-radius: 25px;
}

@media screen and (max-width: 850px) {
    /* .file {
        display: none;
    } */
    .wrap {
        width: 100%;
    }
}